@model List<ResultReviewByCarIdDto>


@{
    var totalReview = Model.Count();
    var fiveStarCount = Model.Count(x => x.RaytingValue == 5);
    var fourStarCount = Model.Count(x => x.RaytingValue == 4);
    var threeStarCount = Model.Count(x => x.RaytingValue == 3);
    var twoStarCount = Model.Count(x => x.RaytingValue == 2);
    var oneStarCount = Model.Count(x => x.RaytingValue == 1);
}

<div class="tab-pane fade" id="pills-review" role="tabpanel" aria-labelledby="pills-review-tab">
    <div class="row">
        <div class="col-md-7">
            <h3 class="head">@totalReview Reviews</h3>
            @foreach (var item in Model)
            {
                <div class="review d-flex">
                    <div class="user-img" style="background-image: url('@item.CustomerImage')"></div>
                    <div class="desc">
                        <h4>
                            <span class="text-left">@item.CustomerName</span>
                            <span class="text-right">@item.ReviewDate.ToString("dd MMMM yyyy HH:mm")</span>
                        </h4>
                        <p class="star">
                            <span>
                                @for (int i = 0; i < item.RaytingValue; i++)
                                {
                                    <i class="ion-ios-star"></i>
                                }

                                @for (int i = 0; i < 5 - item.RaytingValue; i++)
                                {
                                    <i class="ion-ios-star-outline"></i>
                                }
                            </span>
                        </p>
                        <p>@item.Comment</p>
                    </div>
                </div>
            }
        </div>
        <div class="col-md-5">
            <div class="rating-wrap">
                <h3 class="head">Reviews Results</h3>
                <div class="wrap">
                    <p class="star">
                        <span>
                            <i class="ion-ios-star"></i>
                            <i class="ion-ios-star"></i>
                            <i class="ion-ios-star"></i>
                            <i class="ion-ios-star"></i>
                            <i class="ion-ios-star"></i>
                            (% @(totalReview == 0 ? 0 : ((fiveStarCount * 100.0) / totalReview)))
                        </span>
                        <span>@fiveStarCount Points</span>
                    </p>
                    <p class="star">
                        <span>
                            <i class="ion-ios-star"></i>
                            <i class="ion-ios-star"></i>
                            <i class="ion-ios-star"></i>
                            <i class="ion-ios-star"></i>
                            <i class="ion-ios-star-outline"></i>
                            (% @(totalReview == 0 ? 0 : ((fourStarCount * 100.0) / totalReview)))
                        </span>
                        <span>@fourStarCount Points</span>
                    </p>
                    <p class="star">
                        <span>
                            <i class="ion-ios-star"></i>
                            <i class="ion-ios-star"></i>
                            <i class="ion-ios-star"></i>
                            <i class="ion-ios-star-outline"></i>
                            <i class="ion-ios-star-outline"></i>
                            (% @(totalReview == 0 ? 0 : ((threeStarCount * 100.0) / totalReview)))
                        </span>
                        <span>@threeStarCount Points</span>
                    </p>
                    <p class="star">
                        <span>
                            <i class="ion-ios-star"></i>
                            <i class="ion-ios-star"></i>
                            <i class="ion-ios-star-outline"></i>
                            <i class="ion-ios-star-outline"></i>
                            <i class="ion-ios-star-outline"></i>
                            (% @(totalReview == 0 ? 0 : ((twoStarCount * 100.0) / totalReview)))
                        </span>
                        <span>@twoStarCount Points</span>
                    </p>
                    <p class="star">
                        <span>
                            <i class="ion-ios-star"></i>
                            <i class="ion-ios-star-outline"></i>
                            <i class="ion-ios-star-outline"></i>
                            <i class="ion-ios-star-outline"></i>
                            <i class="ion-ios-star-outline"></i>
                            (% @(totalReview == 0 ? 0 : ((oneStarCount * 100.0) / totalReview)))
                        </span>
                        <span>@oneStarCount Points</span>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>